@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.container {
	margin: 0 auto;
    width: 100%;
    padding: 0 60px;
}

/* Content Tags*/
strong {    
	color: #ff0000;
	font-weight: 700;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

p {
    font-weight: 20px;
}

/* Link Tags */
a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}


/* Header Elements */

header{
    padding: 20px 0;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #eeeeee;
}

#logo {
    display: inline-block;
    float: left;
    width: 30%;
}

.logo-text{
	font-size: 20px;
}


/* Navigation */
nav {
    width: 70%;
    display: inline-block;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	display: inline-block;
    font-size: 20px;
    padding-left: 30px;
}

nav ul li a {
   display: inline;
   text-decoration: none;
   color: #000;
   text-transform: uppercase;
}

nav .active{
    color: #ff0000;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Body Elements */
.banner {
    width: 100%;
    border-bottom: 3px solid #eeeeee;
    display: block;
}

main {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 40px 0 0 0;
}

/* Art Elements */
.art-row, .about-row{
	height: 444px;
	margin-bottom: 20px;
	width: 100%;
	display: block;
	clear: both;
}
 
.art-column {
    float: left;
    margin: 0 3%;
    width: 26%;
    height: 444px;
    background: #eee;
    display: inline-block;
}

.art-column .art-image {
	width: 350px;
	height: 350px;
    min-width: 100%;
}

.art-title{
	text-align: center;
}

.art-vote {
	width: 100%;
	padding: 0 30%;
}
 .up-vote, .down-vote{
    width: 49px;
    height: 64px;
    margin-right: 20px;
    float: left;
}

/* About Page */
.about-row{
    padding: 90px 0;
}

.about-row p {
    float: right;
    font-size: 30px;
    display: inline-block;
    width: 740px;
    margin-right: 100px;
}

.about-row img {
   float: left;
   margin-left: 80px;
}




/* Footer */
footer {
    border-top: 3px solid #eeeeee;
    color: #999999;
    clear: both;
    margin: 24px 0 0;
    padding: 14px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
